# ==========================================
# MV privada de base de datos
# ==========================================
DB_HOST=PRIVATE_DB_IP

# ==========================================
# MS1 - MySQL
# ==========================================
MS1_DB_PORT=3306
MS1_DB_NAME=restaurante_db
MS1_DB_USER=root
MS1_DB_PASSWORD=CHANGE_ME

# ==========================================
# MS2 - PostgreSQL
# ==========================================
MS2_DB_PORT=5432
MS2_DB_NAME=ms2_menu
MS2_DB_USER=postgres
MS2_DB_PASSWORD=CHANGE_ME

# ==========================================
# MS3 - MongoDB
# ==========================================
MS3_DB_PORT=27017
MS3_DB_NAME=ms3_reservas_db

# ==========================================
# Comunicación entre microservicios
# ==========================================
MS1_TIMEOUT_MS=3000

# ==========================================
# MS4
# ==========================================
MS4_PUBLIC_API_URL=http://localhost:8083
