# Variables de entorno
.env

# Llaves AWS / SSH
*.pem

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
npm-debug.log*

# Java / Maven
target/
*.jar

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db
